// bower:scss
@import "jeet/scss/jeet/index.scss";
@import "normalize.scss/_normalize.scss";
// endbower

// Initial settings
@import "compass";
@include font-face("pixelmixregular", font-files("pixelmix/pixelmix-webfont.ttf", "pixelmix/pixelmix-webfont.otf"));

// Styles
@import "gameList";

body {
  font-family: "pixelmixregular";
}
.main >{
  header, main, footer {
    @include center(1410px, 20px);
    //@media (min-width: 768px) {
    //}
  }
}

.main-logo {
  background: transparent image-url('logo.png') no-repeat;
  display: block;
  height: 53px;
  width: 340px;
}

.main-header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: fixed;
  top: 0;
  background: white;
  width: 100%;
  z-index: 99;
}
.main-body {
  background: #efefef;
  margin-top: 70px;
}
